video {
  width: 307px;
  height: 250px;
  background: rgba(255,255,255,0.5);
  border: 1px solid #ccc;
}

.grayscale {
  -webkit-filter: grayscale(1);
}

.sepia {
  -webkit-filter: sepia(1);
}

.blur {
  -webkit-filter: blur(3px);
}