#chatMessages
{
	background: rgba(250,250,250,.8);
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

#chatInnerWrapper
{
	max-width: 520px;
	height: 300px;
	background: green;
	opacity: 1;
	right: 0;
	width: 300px;
	position: fixed;
}

#chatWrapper
{
	position: absolute;
	top: 0;
	width: 100%;
	right: 0;
}
